@import "@/styles/theme.module";

@mixin invalid() {
  background-color: $danger;
}

@mixin disabled() {
  .label {
    background-color: $greyscale-light;
    cursor: not-allowed;
  }

  .top {
    cursor: not-allowed;
  }

  .middle {
    cursor: not-allowed;

    .input {
      cursor: not-allowed;
    }

    .searchInput {
      cursor: not-allowed;
    }
  }

  .bottom {
    cursor: not-allowed;
  }
}

@mixin value() {
  box-shadow: $shadow-small;

  .top {
    position: relative;
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      background-color: $greyscale;
      color: $greyscale-xxx-light;
      width: 55%;
      height: 100%;
      font-size: 12px;
      padding-left: 10px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 8px;
      z-index: 2;
      text-transform: none;

      &.invalid {
        @include invalid()
      }
    }

    .hint {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      left: 45%;
      width: 55%;
      font-size: 12px;
      padding-left: calc(10% + 6px);
      height: 100%;
      z-index: 1;
    }
  }

  .middle {
    position: relative;
    flex: 3;
    display: flex;
    flex-direction: row;
    width: 100%;

    .icon {
      color: $greyscale;
      transition: all 0.2s;
    }

    .input {
      position: absolute;
      flex: 1;
      border: none;
      outline: none;
      font-size: medium;
      letter-spacing: 1px;
      color: $greyscale-xx-dark;
      //background-color: ;
      padding: 0 10px;
    }

    .searchInput {
      position: relative;
      flex: 1;
      border: none;
      outline: none;
      font-size: medium;
      letter-spacing: 1px;
      color: $greyscale-xx-dark;
      //background-color: ;
      padding: 0 10px;
    }

    .has_icon {
      &.input {
        padding-left: 30px;
      }

      &.searchInput {
        padding-left: 30px;
      }
    }
  }

  &.disabled {
    @include disabled()
  }
}

@mixin focus() {
  .top {
    .label {
      background-color: $primary!important;
    }
  }

  .middle {
    z-index: 999!important;

    .searchInput {
      position: absolute!important;
      top: 40px;
      left: 40px;
      width: calc(100% - 55px)!important;
      height: 35px;
      padding-left: 12px;
      z-index: 999!important;
      background-color: rgb(241, 241, 241);
      border-radius: 4px;
      transition: all 0.3s;
    }
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55px;
  border-radius: 4px;
  margin: 4px 6px 24px 6px;
  //border: 1px solid $greyscale;
  transition: all 0.3s ease-out;

  .top {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s;

    .label {
      position: relative;
      display: flex;
      align-items: center;
      background-color: $greyscale;
      color: $greyscale-xxx-light;
      width: 100%;
      font-size: 16px;
      text-transform: uppercase;
      padding-left: 10px;
      height: 100%;
      z-index: 2;
      border-radius: 4px;
      transition: all 0.3s;
      user-select: none;

      &.invalid {
        @include invalid()
      }
    }

    .has_icon {
      &.label {
        padding-left: 40px;
      }
    }

    .hint {
      position: absolute;
      left: 45%;
      width: 55%;
      height: 100%;
      transition: all 0.3s;
    }
  }

  .middle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    transition: all 0.3s;

    .icon {
      position: absolute;
      display: flex;
      left: 0;
      top: 0;
      padding: 8px;
      height: 100%;
      width: 40px;
      z-index: 2;
      color: $greyscale-xxx-light;
      transition: all 0.2s;
    }

    .input {
      position: absolute;
      color: rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0);
      padding: 0 0;
      height: calc(100% - 12px);
      width: calc(100% - 12px);
      margin: 6px;
      outline: none;
      border: none;
      transition: all 0.3s, color 0s;
    }

    .searchInput {
      position: absolute;
      color: rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0);
      padding: 0 0;
      height: calc(100% - 12px);
      width: calc(100% - 12px);
      margin: 6px;
      outline: none;
      border: none;
      transition: all 0s;
    }
  }

  .bottom {
    height: 0;
    width: 100%;
    margin-left: 10px;
    transition: all 0.3s;

    .errorMessage {
      font-size: 10px;
      color: $danger;
    }
  }

  &:focus-within {
    @include value();
    @include focus()
  }

  &.value {
    @include value()
  }

  &.disabled {
    @include disabled()
  }
}

.container {
  position: absolute;
  top: 60px;
  z-index: 990;
  width: 100%;

  display: flex;
  flex-direction: column;
  background-color: $greyscale-xxx-light;
  padding: 2px;
  box-shadow: $shadow;
  border-radius: 4px;
  overflow-y: visible;
  overflow-x: hidden;
  transition: all 0.3s;

  .rowSearch {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 45px;
    width: 100%;

    .rowSearchIcon {
      color: $greyscale;
      font-size: x-large;
      margin-left: 10px;
    }
  }

  .list {
    position: absolute;
    top: 55px;
    z-index: 990;
    width: 98%;
    display: flex;
    flex-direction: column;
    //background-color: $greyscale-xxx-light;
    padding: 2px;
    //border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s;

    .removeValue {
      color: $danger-light !important;

      &:hover {
        color: $greyscale-xxx-light !important;
        background-color: $danger-light !important;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 2px;
      padding: 6px;
      border-radius: 4px;
      user-select: none;
      transition: all 0.1s;

      .rowLabel {
        color: $greyscale-dark;
        font-size: x-small;
        margin-right: 6px;
      }

      .rowValue {
        padding: 4px;
      }

      .rowIcon {
        margin-right: 8px;
      }

      .primary {
        border-radius: 4px;
        color: $greyscale-xxx-light;
        background-color: $primary;
      }

      .neutral {
        border-radius: 4px;
        color: $greyscale-xxx-light;
        background-color: $greyscale;
      }

      .danger {
        border-radius: 4px;
        color: $greyscale-xxx-light;
        background-color: $danger;
      }

      .alert {
        border-radius: 4px;
        color: $greyscale-xxx-light;
        background-color: $alert;
      }

      .info {
        border-radius: 4px;
        color: $greyscale-xxx-light;
        background-color: $info;
      }

      &:hover {
        background-color: rgb(241, 241, 241);
        //color: $greyscale-xxx-light;
        //box-shadow: $shadow;
        cursor: pointer;

        .rowLabel {
          //color: $greyscale-xxx-light;
        }
      }
    }
  }
}

